<div
  *ngIf="!(isMeetingStarted$ | async)"
  class="container"
  data-test="meetingForm"
>
  <div class="form">
    <form
      [formGroup]="startForm"
      (ngSubmit)="startMeeting()"
      class="os-content-card-footer"
    >
      <h1>Start Meeting</h1>
      <label for="token">Enter token here</label>
      <input
        type="text"
        class="sendTerm"
        placeholder="Enter your token"
        formControlName="token"
      />
      <div class="startMeeting-container">
        <button data-cy="submit" type="submit" class="startBtn">
          Start Meeting
        </button>
      </div>
    </form>
  </div>
</div>
<ng-container *ngIf="isMeetingStarted$ | async">
  <div class="os-main-content" data-test="meetingStarted">
    <header class="header">
      <div class="left-header" data-test="left-header">
        <button class="grid-view" matTooltip="View">
          <i class="far fa-th-large"></i>
        </button>
        <button *ngIf="localParticipant.isLocal" (click)="toggleRaiseHand()">
          {{ localParticipant.handRaised ? "Lower Hand" : "Raise Hand" }}
        </button>
        <!-- <div *ngIf="isScreenRecording" class="screen-recording">
          <i class="far fa-record-vinyl"></i>
          <div class="timer">{{ recordingTime }}</div>
        </div> -->
      </div>
      <div class="right-header">
        <button class="menu" matTooltip="Menu">
          <span class="material-symbols-outlined"> segment </span>
        </button>
        <button
          class="people"
          matTooltip="Participants"
          (click)="openParticipantSideWindow()"
        >
          <i class="fal fa-user-friends"></i>
        </button>

        <button class="chat" matTooltip="Chat" (click)="openChatSideWindow()">
          <i class="far fa-comment-lines"></i>
          <span
            *ngIf="!(chatSideWindowVisible$ | async) && unreadMessagesCount > 0"
            class="badge"
            >0{{ unreadMessagesCount }}</span
          >
        </button>
        <!-- <button class="chat" matTooltip="Chat" (click)="openChatSideWindow()">
          <i class="far fa-comment-lines"></i>
          <span *ngIf="(unreadMessagesCount$ | async) || 0 > 0" class="badge">
            {{ (unreadMessagesCount$ | async) || 0 }}
          </span>
        </button> -->
        <button class="emojis" matTooltip="React">
          <span class="material-symbols-outlined"> emoji_language </span>
        </button>
        <button class="more" matTooltip="More">
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="line"></div>

        <button data-test="video-test" class="video" (click)="toggleVideo()">
          <i
            class="fas"
            [ngClass]="{
              'fa-video': (isVideoOn$ | async),
              'fa-video-slash': !(isVideoOn$ | async)
            }"
          ></i>
        </button>
        <button class="mic" (click)="toggleMic()">
          <i
            class="fas"
            [ngClass]="{
              'fa-microphone': (isMicOn$ | async),
              'fa-microphone-slash': !(isMicOn$ | async)
            }"
          ></i>
        </button>

        <button class="share" (click)="toggleScreenShare()">
          <span
            class="material-symbols-outlined"
            *ngIf="!(isScreenSharing$ | async)"
          >
            screen_share
          </span>
          <span
            class="material-symbols-outlined"
            *ngIf="isScreenSharing$ | async"
            [ngStyle]="{ color: (iconColor$ | async) }"
          >
            stop_screen_share
          </span>
        </button>

        <button class="leave-btn" (click)="leaveBtn()">
          <div class="phone-icon">
            <!-- <span class="material-symbols-outlined"> call_end </span> -->
          </div>
          <h2>Leave</h2>
          <div class="chevron-icon"><i class="fas fa-chevron-down"></i></div>
        </button>
      </div>
    </header>

    <ng-container
      *ngIf="
        (isScreenSharing$ | async) === true ||
        this.livekitService.remoteScreenShare === true
      "
    >
      <div class="lk-focus-layout-wrapper">
        <div class="lk-focus-layout"></div>
      </div>
    </ng-container>
    <div
      class="lk-grid-layout-wrapper"
      [ngClass]="{
        'screen-share-layout-wrapper':
          (isScreenSharing$ | async) === true ||
          this.livekitService.remoteScreenShare === true
      }"
    >
      <div
        class="lk-grid-layout"
        [ngClass]="{
          'screen-share-layout':
            (isScreenSharing$ | async) === true ||
            this.livekitService.remoteScreenShare === true
        }"
        [style.grid-template-columns]="GalleryGridColumnStyle"
      ></div>
    </div>
    <!-- modal to show a person is already sharing screen  -->

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Another participant is already sharing its screen.</p>
      </div>
    </div>
  </div>

  <div class="closeChatSideWindow" (click)="closeChatSideWindow()">
    <div
      *ngIf="chatSideWindowVisible$ | async"
      class="chat-side-window-container"
    >
      <div class="chat-side-window" (click)="$event.stopPropagation()">
        <div class="chat-detail">
          <div class="os-content-card-nav">
            <div class="chat-head">
              <h2>Chat</h2>
            </div>
          </div>
          <div class="os-content-card-body">
            <div class="os-content-body" #messageContainer>
              <div *ngFor="let message of allMessages; let i = index">
                <div class="main-receiver" *ngIf="message.type === 'received'">
                  <div class="receive">
                    <div class="avatar">
                      <p *ngIf="shouldShowAvatar(i)">
                        {{ message.senderName.charAt(0).toUpperCase() }}
                      </p>
                    </div>
                    <div class="receive-msg">
                      <div class="head">
                        <div class="receiver-name">
                          <h2 *ngIf="shouldShowAvatar(i)">
                            {{ message.senderName }}
                          </h2>
                        </div>
                        <div class="msg-tym">
                          {{ message.receivingTime | date : "shortTime" }}
                        </div>
                      </div>
                      <div class="msg-detail">
                        {{ message.receivedMsg }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-sender" *ngIf="message.type === 'sent'">
                  <div class="send">
                    <div class="msg-tym">
                      {{ message.sendingTime | date : "shortTime" }}
                    </div>
                    <div class="msg-detail">{{ message.sendMessage }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="new-footer-card">
              <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="">
                <div class="dropdwn">
                  <label for="participant">To: </label>
                  <div class="select-dropdown">
                    <select formControlName="participant">
                      <option disabled selected value="">
                        Select One Option
                      </option>
                      <option value="1">EveryOne</option>
                      <option
                        *ngFor="let participant of remoteParticipantNames"
                        [value]="participant.identity"
                      >
                        {{ participant.identity }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="footer-flex">
                  <!-- <div class="add"><i class="fas fa-plus"></i></div> -->
                  <div class="search">
                    <input
                      type="text"
                      class="sendTerm"
                      placeholder="send a message"
                      formControlName="message"
                    />
                    <div class="emoji">
                      <i class="fas fa-face-smile"></i>
                    </div>
                  </div>
                  <button type="submit" class="sendButton">
                    <i class="send fas fa-paper-plane"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="closeParticipantSideWindow"
    (click)="closeParticipantSideWindow()"
  >
    <div
      *ngIf="participantSideWindowVisible$ | async"
      class="participants-side-window-container"
    >
      <div class="participants-side-window" (click)="$event.stopPropagation()">
        <h2>Participants</h2>

        <div class="participant-container">
          <div class="participant">
            <div class="left-side">
              <div class="avatar">
                <p>{{ extractInitials(localParticipant.identity) }}</p>
              </div>
              <div class="name">{{ localParticipant.identity }}(You)</div>

              <span *ngIf="localParticipant.handRaised" class="raised-hand-icon"
                >✋</span
              >
            </div>
            <div class="right-side">
              <div class="screen-share-icon">
                <span
                  class="material-symbols-outlined"
                  *ngIf="isScreenSharing$ | async"
                >
                  screen_share
                </span>
              </div>
              <div class="video-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-video': (isVideoOn$ | async),
                    'fa-video-slash': !(isVideoOn$ | async)
                  }"
                ></i>
              </div>
              <div class="mic-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-microphone': (isMicOn$ | async),
                    'fa-microphone-slash': !(isMicOn$ | async)
                  }"
                ></i>
              </div>
            </div>
          </div>
          <div
            *ngFor="let participant of remoteParticipantNames"
            class="participant"
          >
            <div class="left-side">
              <div class="avatar">
                <p>{{ extractInitials(participant.identity) }}</p>
              </div>
              <div class="name">{{ participant.identity }}</div>
              <span *ngIf="participant.handRaised" class="raised-hand-icon"
                >✋</span
              >
            </div>
            <div class="right-side">
              <div class="video-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-video-slash': !participant.isCameraEnabled,
                    'fa-video': participant.isCameraEnabled
                  }"
                ></i>
              </div>
              <div class="mic-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-microphone': participant.isMicrophoneEnabled,
                    'fa-microphone-slash': !participant.isMicrophoneEnabled
                  }"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- html structure for creating video elments  -->
<!-- <div class="lk-grid-layout-wrapper">
  <div
    id="remoteVideoContainer"
    class="lk-grid-layout"
    [style.grid-template-columns]="GalleryGridColumnStyle"
  >
    <div class="" *ngIf="attachedTrack">
      <video id="videoElement" class="lk-participant-tile video-element">
        {{ attachedTrack }}
      </video>
      <div class="lk-participant-metadata">
        <div class="lk-participant-metadata-item">
          <span class="lk-participant-name">Participant Name</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
