<div
  *ngIf="!(isMeetingStarted$ | async)"
  class="container"
  data-test="meetingForm"
>
  <div class="form">
    <div class="startMeeting-container">
      <div>
        <input
          type="text"
          [(ngModel)]="participantName"
          placeholder="Enter your Name"
        />
        <button
          (click)="startMeeting()"
          data-cy="submit"
          type="submit"
          class="startBtn"
        >
          Start Meeting
        </button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="isMeetingStarted$ | async">
  <!-- container for audio  -->
  <div id="remoteAudioContainer"></div>
  <!-- send message to breakout rooms from host modal  -->
  <div class="host-to-br-msg-modal" *ngIf="isHostMsgModal$ | async">
    <div class="msg-modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2>Send Message to Breakout Room</h2>
        <span class="close" (click)="closeHostToBrMsgModal()">&times;</span>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Input field to type the message -->
        <input
          type="text"
          [(ngModel)]="messageContent"
          placeholder="Enter your message"
          class="message-input"
        />

        <!-- Dropdown to select the breakout room -->
        <select [(ngModel)]="selectedBreakoutRoom" class="breakout-select">
          <option value="" disabled [selected]>Select Breakout Room</option>
          <option
            *ngFor="let room of breakoutRoomsData$ | async"
            [value]="room.roomName"
          >
            {{ room.roomName }}
          </option>
        </select>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <!-- Button to send the message -->
        <button class="send-btn" (click)="sendMessageToBreakoutRoom()">
          Send Message
        </button>
      </div>
    </div>
  </div>
  <div class="os-main-content" data-test="meetingStarted">
    <!-- header showing when meeting get started  -->
    <header class="header">
      <div class="left-header" data-test="left-header">
        <button
          class="grid-view"
          matTooltip="Open breakout modal"
          (click)="openBreakoutModal()"
        >
          <i class="far fa-th-large"></i>
        </button>
        <button
          class="grid-view disabled-msg-btn"
          matTooltip="Send Message to Breakout room"
          (click)="openHostToBrMsgModal()"
          [disabled]="(breakoutRoomsData$ | async)?.length === 0"
        >
          <i class="far fa-comments"></i>
        </button>
        <button
          data-cy="raise-hand"
          *ngIf="localParticipant.isLocal"
          (click)="toggleRaiseHand()"
          matTooltip="
            localParticipant.handRaised ? 'Lower Hand' : 'Raise Hand'
          "
        >
          <i
            class="fas fa-hand-paper"
            [ngClass]="{ 'hand-raised': localParticipant.handRaised }"
          ></i>
        </button>
        <div
          class="websocket-status"
          [ngClass]="{
            'status-connected': webSocketStatus === 'connected',
            'status-reconnecting': webSocketStatus === 'reconnecting',
            'status-disconnected': webSocketStatus === 'disconnected'
          }"
        ></div>
        <span>{{ webSocketStatus | titlecase }}</span>
      </div>
      <div class="right-header">
        <button matTooltip="Picture in picture mode" (click)="enterPiP()">
          <span class="material-symbols-outlined"> pip </span>
        </button>
        <button
          matTooltip="Ask for Help To Main Room"
          (click)="sendHelpRequest()"
        >
          <i class="fas fa-user-headset"></i>
        </button>
        <button
          class="people"
          matTooltip="Breakout Rooms"
          (click)="openPBreakoutSideWindow()"
        >
          <i class="fas fa-th-large"></i>
        </button>
        <button
          class="people"
          matTooltip="Participants"
          (click)="openParticipantSideWindow()"
        >
          <i class="fal fa-user-friends"></i>
        </button>

        <button class="chat" matTooltip="Chat" (click)="openChatSideWindow()">
          <i class="far fa-comment-lines"></i>
          <span
            *ngIf="
              !(chatSideWindowVisible$ | async) &&
              (unreadMessagesCount$ | async)! > 0
            "
            class="badge"
            >0{{ unreadMessagesCount$ | async }}</span
          >
        </button>
        <button class="more" matTooltip="More">
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="line"></div>

        <button data-test="video-test" class="video" (click)="toggleVideo()">
          <i
            class="fas"
            [ngClass]="{
              'fa-video': (isVideoOn$ | async),
              'fa-video-slash': !(isVideoOn$ | async)
            }"
          ></i>
        </button>
        <button class="mic" (click)="toggleMic()">
          <i
            class="fas"
            [ngClass]="{
              'fa-microphone': (isMicOn$ | async),
              'fa-microphone-slash': !(isMicOn$ | async)
            }"
          ></i>
        </button>
        <button class="share" (click)="toggleScreenShare()">
          <span
            class="material-symbols-outlined"
            *ngIf="!livekitService.isScreenSharingEnabled"
          >
            screen_share
          </span>
          <span
            class="material-symbols-outlined"
            *ngIf="livekitService.isScreenSharingEnabled"
            [ngStyle]="{ color: (iconColor$ | async) }"
          >
            stop_screen_share
          </span>
        </button>
        <button class="leave-btn" (click)="leaveBtn()">
          <h2>Leave</h2>
          <div class="chevron-icon"><i class="fas fa-chevron-down"></i></div>
        </button>
      </div>
    </header>

    <!-- for screen sharing container  -->
    <!-- <div id="playerContainer" #playerContainer> -->
    <ng-container
      *ngIf="
        livekitService.isScreenSharingEnabled === true ||
        livekitService.remoteScreenShare === true
      "
    >
      <div
        class="lk-focus-layout-wrapper"
        [ngClass]="{
          'screen-share-layout-wrapper': livekitService.isExpanded === true
        }"
      >
        <div
          class="lk-focus-layout"
          [ngClass]="{ expanded: livekitService.isExpanded }"
          [ngClass]="{
            'screen-share-layout': livekitService.isExpanded === true
          }"
          [style.grid-template-columns]="ScreenGalleryGridColumnStyle"
        ></div>
      </div>
    </ng-container>
    <!-- </div> -->
    <!-- screen sahring for multiple screens  -->
    <div
      class="lk-grid-layout-wrapper"
      [ngClass]="{
        'screen-share-layout-wrapper':
          livekitService.isScreenSharingEnabled === true ||
          livekitService.remoteScreenShare === true
      }"
      #playerContainer
    >
      <div
        class="lk-grid-layout"
        [ngClass]="{
          'screen-share-layout':
            livekitService.isScreenSharingEnabled === true ||
            livekitService.remoteScreenShare === true
        }"
        [style.grid-template-columns]="GalleryGridColumnStyle"
      ></div>
    </div>
  </div>

  <!-- breakout room modal which includes automatic and manual selection from host  -->
  <div
    class="modal-overlay"
    *ngIf="isBreakoutModal$ | async"
    (click)="closeBreakoutModal()"
  ></div>
  <div class="modal-content" *ngIf="isBreakoutModal$ | async">
    <div class="modal-header">
      <h2>Breakout Rooms</h2>
      <button class="close-button" (click)="closeBreakoutModal()">
        &times;
      </button>
    </div>
    <form [formGroup]="breakoutForm" (ngSubmit)="submitBreakoutForm()">
      <div class="modal-body">
        <div class="radio-group">
          <label>Room Type:</label>
          <div
            class="breakout-room-types"
            *ngFor="let type of breakoutRoomTypes"
          >
            <input
              type="radio"
              [value]="type.value"
              formControlName="roomType"
              id="{{ type.value }}"
            />
            <label for="{{ type.value }}">{{ type.viewValue }}</label>
          </div>
        </div>
        <!-- Number of Rooms Input -->
        <div *ngIf="breakoutForm.get('roomType')?.value === 'automatic'">
          <div *ngIf="totalParticipants > 0; else noParticipants">
            <div class="total-rooms">
              <label for="numberOfRooms">
                Assign {{ totalParticipants }} participants into
                <input
                  id="numberOfRooms"
                  formControlName="numberOfRooms"
                  type="number"
                  (input)="calculateDistribution()"
                />
                room
              </label>
            </div>
            <div *ngIf="distributionMessage$ | async">
              <p class="rooms-msg">{{ distributionMessage$ | async }}</p>
            </div>
          </div>
          <ng-template #noParticipants>
            <p>No participants in the meeting</p>
          </ng-template>
        </div>

        <!-- new logic for manual   -->
        <div *ngIf="breakoutForm.get('roomType')?.value === 'manual'">
          <div class="create-room-section">
            <label>Create New Room</label>
            <button type="button" (click)="createNewRoomSidebar()">
              Create
            </button>
          </div>

          <div class="breakout-container">
            <!-- Iterate over breakoutRoomsData to display room names and participants -->
            <div
              class="breakout"
              *ngFor="let room of breakoutRoomsData$ | async; let i = index"
            >
              <div class="room">
                <!-- Display Room Name -->
                <div class="room-header">
                  <span class="room-name">{{ room.roomName }}</span>

                  <!-- Button to toggle the available participants list -->
                  <button
                    class="allocated-btn"
                    type="button"
                    (click)="toggleParticipantsList(i)"
                  >
                    Add participants <i class="fa fa-angle-down"></i>
                  </button>
                </div>

                <!-- List of participants in the room with checkboxes -->
                <div
                  *ngIf="room.participantIds.length > 0; else noParticipants"
                >
                  <h4 class="allocated-headings">Assigned Participants</h4>
                  <ul class="participants-list">
                    <li *ngFor="let participant of room.participantIds">
                      <label>
                        <input
                          type="checkbox"
                          (change)="
                            onParticipantSelected(
                              room,
                              { identity: participant },
                              $event
                            )
                          "
                          [checked]="true"
                        />
                        {{ participant }}
                      </label>
                    </li>
                  </ul>
                </div>

                <!-- Template for no participants -->
                <ng-template #noParticipants>
                  <p>No participants assigned to this room</p>
                </ng-template>

                <!-- Available participants with checkboxes, disabling those already assigned -->
                <div *ngIf="room.showAvailableParticipants">
                  <h4 class="allocated-headings">Available Participants</h4>
                  <div
                    *ngIf="
                      getAvailableParticipants(room).length > 0;
                      else noMoreParticipants
                    "
                  >
                    <ul class="available-participants-list">
                      <li
                        *ngFor="
                          let participant of getAvailableParticipants(room)
                        "
                        class="available-participant"
                      >
                        <label>
                          <input
                            type="checkbox"
                            (change)="
                              onParticipantSelected(room, participant, $event)
                            "
                            [checked]="isParticipantAssigned(room, participant)"
                            [disabled]="
                              isParticipantAssigned(room, participant)
                            "
                          />
                          {{ participant.identity }}
                        </label>
                      </li>
                    </ul>
                  </div>
                  <ng-template #noMoreParticipants>
                    <p>No more participants available for this room</p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Room Type Radio Buttons -->
      </div>
      <div class="modal-footer">
        <button class="modal-close-btn" (click)="closeBreakoutModal()">
          Close
        </button>
        <button type="submit" class="modal-submit-btn">
          Create Breakout Room
        </button>
      </div>
    </form>
  </div>
  <!-- chat side window  -->
  <div class="closeChatSideWindow" (click)="closeChatSideWindow()">
    <div
      *ngIf="chatSideWindowVisible$ | async"
      class="chat-side-window-container"
    >
      <div class="chat-side-window" (click)="$event.stopPropagation()">
        <div class="chat-detail">
          <div class="os-content-card-nav">
            <div class="chat-head">
              <h2>Chat</h2>
            </div>
          </div>
          <div class="os-content-card-body">
            <div class="os-content-body" #messageContainer>
              <div *ngFor="let message of allMessages; let i = index">
                <div class="main-receiver" *ngIf="message.type === 'received'">
                  <div class="receive">
                    <div class="avatar">
                      <p *ngIf="shouldShowAvatar(i)">
                        {{ message.senderName?.charAt(0)?.toUpperCase() || "" }}
                      </p>
                    </div>
                    <div class="receive-msg">
                      <div class="head">
                        <div class="receiver-name">
                          <h2 *ngIf="shouldShowAvatar(i)">
                            {{ message.senderName }}
                          </h2>
                        </div>
                        <div class="msg-tym">
                          {{ message.receivingTime | date : "shortTime" }}
                        </div>
                      </div>
                      <div class="msg-detail">
                        {{ message.receivedMsg }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-sender" *ngIf="message.type === 'sent'">
                  <div class="send">
                    <div class="msg-tym">
                      {{ message.sendingTime | date : "shortTime" }}
                    </div>
                    <div class="msg-detail">{{ message.sendMessage }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="new-footer-card">
            <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="">
              <div class="dropdwn">
                <label for="participant">To: </label>
                <div class="select-dropdown">
                  <select formControlName="participant">
                    <option selected value="">EveryOne</option>
                    <option
                      *ngFor="let participant of remoteParticipantNames"
                      [value]="participant.identity"
                    >
                      {{ participant.identity }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="footer-flex">
                <!-- <div class="add"><i class="fas fa-plus"></i></div> -->
                <div class="search">
                  <input
                    type="text"
                    class="sendTerm"
                    placeholder="send a message"
                    formControlName="message"
                  />
                  <div class="emoji">
                    <i class="fas fa-face-smile"></i>
                  </div>
                </div>
                <button type="submit" class="sendButton">
                  <i class="send fas fa-paper-plane"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- participant side window  -->
  <div
    class="closeParticipantSideWindow"
    (click)="closeParticipantSideWindow()"
  >
    <div
      *ngIf="participantSideWindowVisible$ | async"
      class="participants-side-window-container"
    >
      <div class="participants-side-window" (click)="$event.stopPropagation()">
        <h2>Participants</h2>

        <div class="participant-container">
          <div class="participant">
            <div class="left-side">
              <div class="avatar">
                <p>{{ extractInitials(localParticipant.identity) }}</p>
              </div>
              <div class="name">{{ localParticipant.identity }}(You)</div>

              <span
                *ngIf="handRaiseStates[localParticipant?.identity]"
                class="raised-hand-icon"
                >✋</span
              >
            </div>
            <div class="right-side">
              <div class="screen-share-icon">
                <span
                  class="material-symbols-outlined"
                  *ngIf="isScreenSharing$ | async"
                >
                  screen_share
                </span>
              </div>
              <div class="video-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-video': (isVideoOn$ | async),
                    'fa-video-slash': !(isVideoOn$ | async)
                  }"
                ></i>
              </div>
              <div class="mic-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-microphone': (isMicOn$ | async),
                    'fa-microphone-slash': !(isMicOn$ | async)
                  }"
                ></i>
              </div>
            </div>
          </div>
          <div
            *ngFor="let participant of remoteParticipantNames"
            class="participant"
          >
            <div class="left-side">
              <div class="avatar">
                <p>{{ extractInitials(participant.identity) }}</p>
              </div>
              <div class="name">{{ participant.identity }}</div>
              <span
                *ngIf="handRaiseStates[participant?.identity]"
                class="raised-hand-icon"
                >✋</span
              >
            </div>
            <div class="right-side">
              <div class="video-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-video-slash': !participant.isCameraEnabled,
                    'fa-video': participant.isCameraEnabled
                  }"
                ></i>
              </div>
              <div class="mic-icon">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-microphone': participant.isMicrophoneEnabled,
                    'fa-microphone-slash': !participant.isMicrophoneEnabled
                  }"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breakout side window  -->
  <div class="closeBreakoutSideWindow" (click)="closeParticipantSideWindow()">
    <div
      *ngIf="breakoutSideWindowVisible$ | async"
      class="breakout-side-window-container"
    >
      <div class="breakout-side-window" (click)="$event.stopPropagation()">
        <div>
          <h2>Breakout rooms</h2>
          <button (click)="submitBreakoutForm()" class="sidenav-invitation-btn">
            Send Invitation
          </button>
        </div>
        <div class="create-room-section">
          <label>Create New Room</label>
          <button type="button" (click)="createNewRoomSidebar()">Create</button>
        </div>

        <div class="breakout-container">
          <div
            class="breakout"
            *ngFor="let room of breakoutRoomsData$ | async; let i = index"
          >
            <div class="room">
              <div class="room-header">
                <span class="room-name">{{ room.roomName }}</span>
                <button
                  class="allocated-btn"
                  (click)="toggleParticipantsList(i)"
                >
                  Add Participants <i class="fa fa-angle-down"></i>
                </button>
              </div>

              <div *ngIf="room.participantIds.length > 0; else noParticipants">
                <h4 class="allocated-headings">Assigned Participants</h4>
                <ul class="participants-list">
                  <li *ngFor="let participant of room.participantIds">
                    <label>
                      <input
                        type="checkbox"
                        (change)="
                          onParticipantSelected(
                            room,
                            { identity: participant },
                            $event
                          )
                        "
                        [checked]="true"
                      />
                      {{ participant }}
                    </label>
                  </li>
                </ul>
              </div>

              <ng-template #noParticipants>
                <p>No participants assigned to this room</p>
              </ng-template>

              <div *ngIf="room.showAvailableParticipants">
                <h4 class="allocated-headings">Available Participants</h4>
                <div
                  *ngIf="
                    getAvailableParticipants(room).length > 0;
                    else noMoreParticipants
                  "
                >
                  <ul class="available-participants-list">
                    <li
                      *ngFor="let participant of getAvailableParticipants(room)"
                      class="available-participant"
                    >
                      <label>
                        <input
                          type="checkbox"
                          (change)="
                            onParticipantSelected(room, participant, $event)
                          "
                          [checked]="isParticipantAssigned(room, participant)"
                          [disabled]="isParticipantAssigned(room, participant)"
                        />
                        {{ participant.identity }}
                      </label>
                    </li>
                  </ul>
                </div>
                <ng-template #noMoreParticipants>
                  <p>No more participants available for this room</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="pipMode === true">
    <div class="pip-container" #pipContainer id="pipHeader">
      <button
        data-test="video-test"
        matTooltip="Video"
        class="video"
        (click)="toggleVideo()"
      >
        <i
          class="fas"
          [ngClass]="{
            'fa-video': (isVideoOn$ | async),
            'fa-video-slash': !(isVideoOn$ | async)
          }"
        ></i>
      </button>
      <button class="mic" matTooltip="Mic" (click)="toggleMic()">
        <i
          class="fas"
          [ngClass]="{
            'fa-microphone': (isMicOn$ | async),
            'fa-microphone-slash': !(isMicOn$ | async)
          }"
        ></i>
      </button>
      <button
        data-cy="raise-hand"
        *ngIf="localParticipant.isLocal"
        (click)="toggleRaiseHand()"
        matTooltip="Raise Hand"
      >
        <i
          class="fas fa-hand-paper"
          [ngClass]="{ 'hand-raised': localParticipant.handRaised }"
        ></i>
      </button>
      <button class="more" matTooltip="More">
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <button class="leave-btn" matTooltip="Leave_Meeting" (click)="leaveBtn()">
        <span class="material-symbols-outlined"> call_end </span>
      </button>
    </div>
  </ng-container>
</ng-container>

<!-- Breakout Room Modal which is sent to participants for invitation -->
<div *ngIf="isInvitationModal$ | async" class="br-modal">
  <div class="br-modal-content">
    <span class="close" (click)="closeInvitationModal()">&times;</span>
    <h2>Breakout Room Created</h2>
    <p>{{ hostName }} is inviting you to join {{ roomName }}</p>
    <div class="br-modal-flex">
      <button (click)="closeInvitationModal()">Close</button>
      <button class="join" (click)="joinNow()">Join Now</button>
    </div>
  </div>
</div>

<!-- Modal for asking asking help to host from breakout rooms participants -->
<div
  class="receive-msg-modal"
  *ngIf="(isHelpMsgModal$ | async) && allMessagesToMainRoom.length > 0"
>
  <div class="modal-header">
    <h2>Messages in Main Room</h2>
    <button class="close-btn" (click)="closeReceiveMsgModal()">&times;</button>
  </div>

  <div class="modal-body">
    <div class="messages-container">
      <div *ngFor="let message of allMessagesToMainRoom" class="message">
        <strong>{{ message.senderName }}:</strong>
        <p>{{ message.receivedMsg }}</p>
        <span>{{ message.receivingTime | date : "short" }}</span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button (click)="hostJoinNow()">Host Join Now</button>
  </div>
</div>
