<ng-container *ngFor="let note of notesList">
  <div class="note-container">
    <div class="walkthrough-container" *ngIf="note.type === 'walkthrough'">
      <h3 class="walkthrough-heading">Walkthrough Steps</h3>
      <div
        #content
        *ngFor="
          let step of note?.data?.steps.slice(0, currentIndex + 1);
          let i = index
        "
        [ngClass]="{ 'first-step': i === 0 }"
        [@fadeIn]
      >
        <div class="walkthrough-step">
          <div class="walkthrogh-content">
            <p>{{ step.content }}</p>
            <small [innerHTML]="step.annotation"></small>
          </div>
          <div>
            <input
              type="checkbox"
              id="switch{{ i }}"
              (change)="toggleHint(i, $event)"
              class="hint-button"
            />
            <label class="hint-button-label" for="switch{{ i }}">Toggle</label>
          </div>
        </div>
        <p
          class="showing-hint"
          *ngIf="hintVisibility[i]"
          [innerHTML]="step.hint"
        ></p>
        <div class="walkthrough-media">
          <!-- Image -->
          <div class="walkthrough-img" *ngIf="step.media.type === 'img'">
            <h4>{{ step.media.file?.title }}</h4>
            <img [src]="step.media.file?.url" [alt]="step.media.file?.title" />
          </div>

          <!-- Video -->
          <div class="walkthrough-video" *ngIf="step.media.type === 'video'">
            <h4>{{ step.media.file?.title }}</h4>
            <video controls>
              <source [src]="step.media.file?.url" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>

          <!-- Audio -->
          <div class="walkthrough-audio" *ngIf="step.media.type === 'audio'">
            <h4>{{ step.media.file?.title }}</h4>
            <audio controls>
              <source [src]="step.media.file?.url" type="audio/mp3" />
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div>
      <button
        *ngIf="currentIndex < note.data.steps.length - 1"
        (click)="nextStep(note)"
        class="next-button"
      >
        Next
      </button>
    </div>

    <h3 *ngIf="note.file?.title || note.content" class="note-title">
      {{ note.file?.title || note.content }}
    </h3>

    <p *ngIf="note.type === 'text'" class="note-text">
      {{ note.content }}
    </p>

    <div *ngIf="note.type === 'img'">
      <img [src]="note.file?.url" [alt]="note.file?.title" class="note-image" />
    </div>

    <div *ngIf="note.type === 'video'">
      <div class="video-container">
        <div class="video-wrapper">
          <div class="bookmark-wrapper">
            <div class="vid-width">
              <app-video-player
                [videoSrc]="note.file.url"
                [showVideoControls]="true"
                [bookMarks]="note.bookmarks"
                [activeBookmark]="activeBookmark"
                (currentTimeChange)="updateCurrentTime($event)"
                [enforceBookmarks]="enforceBookmarks"
              ></app-video-player>
            </div>
            <div class="bookmark-btns">
              <div
                *ngFor="let bookmark of note.bookmarks; let i = index"
                class="bookmark-btn-wrapper"
              >
                <button
                  (click)="selectBookmark(bookmark)"
                  [ngClass]="{
                    'active-btn': bookmark === activeBookmark,
                    'inactive-btn': bookmark !== activeBookmark
                  }"
                  [disabled]="!note.enforceBookmarks[i]"
                >
                  <span class="description">{{
                    formatBookmarkDescription(bookmark)
                  }}</span>

                  <span *ngIf="bookmark === activeBookmark" class="tick-icon">
                    <mat-icon>check</mat-icon>
                  </span>
                </button>
              </div>
              <button
                style="
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 12px;
                "
                matTooltip="Add Bookmark"
                class="add-bookmark-btn"
                (click)="openAddBookmarkModal()"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>

            <div
              class="modal-overlay"
              *ngIf="isModalOpen"
              (click)="closeModal()"
            ></div>
            <div *ngIf="isModalOpen" class="bookmark-modal">
              <div class="modal-content">
                <div class="modal-header">
                  <h2>Add Bookmark</h2>
                  <button class="close-button" (click)="closeModal()">
                    &times;
                  </button>
                </div>
                <form [formGroup]="bookmarkForm" (ngSubmit)="addBookmark(note)">
                  <div class="modal-body">
                    <label for="description">Description:</label>
                    <input
                      type="text"
                      id="description"
                      formControlName="description"
                      [class.invalid]="
                        bookmarkForm.get('description')?.invalid &&
                        bookmarkForm.get('description')?.touched
                      "
                    />
                    <div
                      *ngIf="
                        bookmarkForm.get('description')?.invalid &&
                        bookmarkForm.get('description')?.touched
                      "
                    >
                      Description is required.
                    </div>

                    <label for="from">Start Time (seconds):</label>
                    <input
                      type="number"
                      id="from"
                      formControlName="from"
                      [class.invalid]="
                        bookmarkForm.get('from')?.invalid &&
                        bookmarkForm.get('from')?.touched
                      "
                    />
                    <div
                      *ngIf="
                        bookmarkForm.get('from')?.invalid &&
                        bookmarkForm.get('from')?.touched
                      "
                    >
                      Start time is required and must be a non-negative number.
                    </div>

                    <label for="to">End Time (seconds):</label>
                    <input
                      type="number"
                      id="to"
                      formControlName="to"
                      [class.invalid]="
                        bookmarkForm.get('to')?.invalid &&
                        bookmarkForm.get('to')?.touched
                      "
                    />
                    <div
                      *ngIf="
                        bookmarkForm.get('to')?.invalid &&
                        bookmarkForm.get('to')?.touched
                      "
                    >
                      End time is required and must be a non-negative number.
                    </div>

                    <div class="btns">
                      <button
                        class="button-3"
                        type="submit"
                        [disabled]="bookmarkForm.invalid"
                      >
                        Submit
                      </button>
                      <button
                        class="button-2"
                        type="button"
                        (click)="closeModal()"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="note.type === 'audio'">
      <audio controls class="note-audio">
        <source [src]="note.file?.url" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</ng-container>
